.tinted-content {
    background-color: var(--Secondary_yellow);
    width: 100%;
}

.hero-container {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.asset {
    max-width: 100%;
    height: auto;
}

.rounded-asset {
    border-radius: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
}

.item-title {
    color: var(--Primary_black);
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 600;
    width: auto;
}

.item-title.small {
    font-size: 1.125rem;
}

.media-container {
    width: 100%;
    justify-content: center;
    display: flex;
}

.project-overview {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 24px;
    gap: 16px;
}

.overview-item-title {
    color: var(--Primary_black);
    font-size: 1.25rem;
    font-family: Montserrat;
    font-weight: 600;
}

.tinted-wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}