    h1 {
        font-size: 3rem;
        color: var(--Primary_green);
    }
    
    #hero-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 80vw;
    }
    
    #animated-hero {
        /*temporary*/
        width: 80vw;
        display: flex;
        aspect-ratio: 1;
        background-color: var(--Primary_green);
    }
    
    #hero-text {
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }
    
    .project-thumbnail {
        display: block;
        max-width: 100%;
    }
    
    .project-summary {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .project-title {
        color: var(--Primary_green);
        font-size: 1.75rem;
        font-family: Montserrat;
        font-weight: 600;
        word-wrap: break-word
    }
    
    @media screen and (min-width: 768px) {
        .project-summary {
            align-items: flex-start;
        }
        .project-title {
            font-size: 2rem;
        }
    }
    
    @media only screen and (min-width: 992px) {
        #hero-section {
            flex-direction: row;
            gap: 32px;
        }
        .project-container {
            flex-direction: row;
            width: 70vw;
            gap: 120px;
        }
        .project-thumbnail {
            max-width: 40%;
        }
        .project-summary {
            flex-grow: 1;
        }
    }
    
    @media only screen and (min-width: 1200px) {
        .project-title {
            font-size: 2rem;
        }
    }